// container  size
$xs: 320px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

//colors
$main-color: #fed52f;
$lite-color: #ffffff;
$dark-color: #000000;
$line-color: #e5e5e5;


///font

$main-font:  'Lato', sans-serif;
